<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Micro desafio</title>
</head>
<body>
    
    <form action="/validacion" method="post">
        <label for="name">Nombre: </label>
        <input type="text" name="nombre" id="nombre">
        <br>
        <label for="color">Color: </label>
        <select name="colores" id="colores">
            <option value="Rojo">Rojo</option>
            <option value="Azul">Azul</option>
            <option value="Amarillo">Amarillo</option>
            <option value="Naranja">Naranja</option>
            <option value="Violeta">Violeta</option>
            <option value="Rosado">Rosado</option>
            <option value="Marron">Marron</option>
        </select>
        <br>
        <label for="email">Email: </label>
        <input type="email" name="email">
        <br>
        <input type="submit" name="Enviar" value="Enviar">
    </form>
</body>
</html>